	<head>
	<title>Potovalni nacrt - Agencija</title>
	</head>
	<link rel="stylesheet" type="text/css" href="stil.css" />
	<div class="float">
		<img id="logo" src="black.png"/>
	</div>
	<div class="clearFloat"></div>
	<h2 style="margin-bottom:4px" id="title"></h2>
	<a href="index.php">Domaca stran</a>
	<a href="vseDestinacije.php">Vse destinacije</a>
	<a href="dodajPotovanje.php">Dodajanje potovanja</a>
	<a href="vsaPotovanja_agen.php">Vsa potovanja</a>
	<a href="podatkiPotovanja.php">Posodobi/izbrisi potovanje</a>
	<a href="vseRezervacije_agen.php">Vse rezervacije</a>
	<a href="index.php" onClick="window.localStorage.removeItem('access_token')">Odjava</a>
	<hr/>
	<script type="text/javascript">
	document.getElementById("title").innerHTML="Potovalni nacrt - agencijski vmesnik - "+localStorage.getItem("username");
	</script>