body {
	background-color: #009933;
	font-family:"Calibri";
}
.center{
	margin-left:auto;
	margin-right:auto;
	width:70%;
}
.float{
	float:left;
	margin-right:20px;
}
.clearFloat{
	float:clear;
}
#logo{
	height:56px;
}
.pisavaAdmin{
	color:white;
	text-shadow:2px 3px black;
	font-size:17px;
	font-weight:600;
}
.pisavaUpor{
	color:white;
	text-shadow:2px 3px black;
	font-size:17px;
	font-weight:600;
}